* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

h3 {
    margin-bottom: 40px;
}



html {
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    text-rendering: optimizeLegibility;
    background-color: #ededed;
    scroll-behavior: smooth;

}

.row {
    max-width: 1240px;
    margin: 0 auto;
}

header {
    background-color: #E9B5B5;
}

.myName-text,
h2 {
    text-transform: uppercase;
    letter-spacing: 1px;
}

h1 {
    font-size: 240%;
    word-spacing: 4px;
}

h2 {
    text-align: center;
    font-size: 180%;
    word-spacing: 2px;
    margin-bottom: 40px;
}

h3 {
    text-align: center;
}

h2:after {
    display: block;
    width: 100px;
    height: 2px;
    background-color: #E9B5B5;
    content: " ";
    margin: 0 auto;
    margin-top: 30px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

section {
    padding: 50px 0;
}

/*-------------------------------------*/
/*-----------Header section------------*/
/*-------------------------------------*/
nav {
    right: 0;
    position: absolute;
    bottom: 10px;
    right: 0;


}

nav li {
    display: inline-block;
    margin-left: 30px;
}

a {
    color: #555;
}

.myName-text {
    position: absolute;
    bottom: 5px;
}

header .row {
    height: 200px;
    position: relative;
}

/*-------------------------------------*/
/*-----------aboutMe section------------*/
/*-------------------------------------*/


.myPhoto {
    width: 90%;
    height: auto;
    border-radius: 50%;
}

.long-text {
    line-height: 150%;
    margin-bottom: 50px
}

.aboutme-box:first-child {
    text-align: center;
    padding-right: 3%
}

.aboutme-box:last-child {
    margin-top: 20px;
    text-align: left;
    padding-left: 3%;
}

.mySkills-text {
    margin-bottom: 20px;
}

.mySkills-text b {
    margin-right: 10px;
    font-size: 130%;
}


/*-------------------------------------*/
/*-----------My education---------------*/
/*-------------------------------------*/
.btn {
    display: inline-block;
    padding: 10px;
    margin: 30px 0 60px 0;

}

.btn:link,
.btn:visited {
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
    background-color: #E9B5B5;
    color: #fff;

}

.btn:hover,
.btn:active {
    background-color: #d65a5a;

}


.education-box {
    width: 70%;
    margin: auto;
}

.education-box:first-of-type {
    text-align: center;
}

.myEducation {
    background-color: #fff;
}

.myEducation img {
    width: 80%;
    margin-left: 10%;
    margin-top: 20px;
}

.myEducation figcaption {
    margin-left: 10%;
}

.myEducation col {
    margin-left: 15px;
}

.DF-text-box {
    text-align: left;
    width: 82%;
    margin-top: 30px;
    margin-left: 9%;

}

/*-------------------------------------*/
/*-----------My project---------------*/
/*-------------------------------------*/
.myProject {
    background-color: #ededed;
}

.project-img {
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.project-box {
    text-align: center;
    border-radius: 10px;
    -webkit-box-shadow: 2px 2px #efe8e8;
    box-shadow: 2px 2px #efe8e8;
    width: 90%;
    margin-left: 5px;
}



.project-text {
    margin: 0;
    font-size: 130%;
}

/*-------------------------------------*/
/*-----------Contact me---------------*/
/*-------------------------------------*/
.contactMe-section h2 {
    color: #fff;
}

.contactMe-section {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.70)), to(rgba(0, 0, 0, 0.70))), url(img/contactMe.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.70)), url(img/contactMe.jpg);
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))) url(img/contactMe.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)) url(img/contactMe.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

}

.contact-box {
    width: 80%;
    margin-left: 10%;
    padding: 20px;

}

.contactMe-list {
    list-style: none;
    text-align: center;
}

.contactMe-list i {
    display: inline-block;
    margin-right: 10px;
}

.contactMeList-box {
    margin-bottom: 50px;
}

.myEmail {
    text-align: center;
    margin-bottom: 50px;
    color: #fff;
}

.contactMe-list li {
    display: inline-block;

}

.contactMe-list li:first-child {
    margin-left: 0;
}


span {
    font-weight: 400;
    font-size: 200%;
    margin-left: 20px;
}

.contactMe-list li a {
    padding: 20px;
    background-color: #fff;
    margin-left: 30px;
    border: 2px solid #fff;
    border-radius: 5px;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
    display: block;

}

.freeCodeCamp:link,
.freeCodeCamp:visited {
    color: #006400;
}

.freeCodeCamp:hover,
.freeCodeCamp:active {
    background-color: #006400;
    color: #fff;
    border: 2px solid #006400;
}

.github:link,
.github:visited {
    color: #000;

}

.github:hover,
.github:active {
    background-color: #000;
    color: #fff;
    border: 2px solid #000;
}

.linkedin:link,
.linkedin:visited {
    color: #0077B5;

}

.linkedin:hover,
.linkedin:active {
    background-color: #0077B5;
    color: #fff;
    border: 2px solid #0077B5;
}

.facebook:link,
.facebook:visited {
    color: #3C5A99;

}

.facebook:hover,
.facebook:active {
    background-color: #3C5A99;
    color: #fff;
    border: 2px solid #3C5A99;
}

.twitter:link,
.twitter:visited {
    color: #38A1F3;

}

.twitter:hover,
.twitter:active {
    background-color: #38A1F3;
    color: #fff;
    border: 2px solid #38A1F3;
}

/*-------------------------------------*/
/*----------------footer--------------*/
/*-------------------------------------*/
footer {
    background-color: #333;
    padding: 40px;
}

footer p {
    color: #888;
    text-align: center;
}
